<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>ClientId</key>
   <string>73ZNSoAiOUxrGW0WuQ9STkDP9OZbE2Q5</string>
   <key>Domain</key>
   <string>dev-sm77edt6.us.auth0.com</string>
</dict>
</plist>